// app global css
.noDeco{
  text-decoration:none;
  outline: 0;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 10vh; 
}
.hide{
    visibility:hidden;
}
.notify{
    border:2px solid orange;
}
.bg{
  background-color:aliceblue;
}

//for input type number
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}